* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $color-base;
}

.no-scroll {
  overflow: hidden;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: $color-base;
  margin-bottom: 8px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  color: $color-light;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
}

p {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
