.news {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;

  h2.section-title {
    color: #000;
    font-weight: bold;
    padding-bottom: 65px;
  }
}

.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  height: 172px;
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  .date {
    display: inline-block;
    margin-bottom: 14px;
  }

  .newstitle {
    font-weight: bold;
  }
}

.button-next {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}
